body {background-color:tan;}
h1{
color:grey; 
font-family:verdana;
text-align:center;

}
.maindiv {background-color: white;
  color: black;
  width:300px;
  padding: 20px;
  margin: auto;
  }

footer {
  text-align: right;
  padding: 3px;
  background-color: white;
  color: black;
  border-radius:25px;
}
